.qaObjectTypeClass {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color:black;
  text-decoration:none;
}

.activeLink {
  font-weight: bold;
}

.loading-spinner {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
